body {
	background-color: white;
}

#header {
	border-bottom: #f6f0e2 solid medium;
	padding: 2% 1% 2% 1%;
	font-family: monospace;
	font-size: 90%
}

.horizontal_flexbox {
	display: flex;
	flex-direction: row;
}

.flex_item {
	flex-grow: 10;
}

.header_tab {
	text-align: center;
	cursor: pointer;
}